[submodule "libs/example-module"]
	path = libs/example-module
	url = https://github.com/bringauto/example-module.git
[submodule "libs/mission-module"]
	path = libs/mission-module
	url = https://github.com/bringauto/mission-module.git
[submodule "libs/io-module"]
	path = libs/io-module
	url = https://github.com/bringauto/io-module.git
